@model IEnumerable<Webadmin.Models.Bookings>

@{
    ViewData["Title"] = "Index";
    int venueId = ViewBag.venueId;
}
<div class="shareLine">
    <h1>Index</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Booking Time
            </th>
            <th>
                Booking Size
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.BookingTime.ToString("f")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingSize)
            </td>
            <td>
                <form asp-action="Attended">
                    <input name="bookingId" value="@item.BookingId" hidden />
                    <input name="venueId" value="@venueId" hidden />
                    <button type="submit" class="btn bntMedium" asp-action="Attended">Attended</button>
                </form>
            </td>
            <td>
                <form asp-action="Cancel">
                    <input name="bookingId" value="@item.BookingId" hidden />
                    <input name="venueId" value="@venueId" hidden />
                    <button type="submit" class="btn bntMedium" style="background-color:#dc3545;" asp-action="Cancel">Cancel</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
