@model Webadmin.Models.Venues;
@{
    ViewData["Title"] = Model.VenueName + " - Dashboard";
    List<DashboardStructs.BookingDashboardDisplay> bookings = (List<DashboardStructs.BookingDashboardDisplay>)ViewBag.Bookings;
    List<DashboardStructs.StaffDashboardDisplay> staff = (List<DashboardStructs.StaffDashboardDisplay>)ViewBag.Staff;
}

<div class="col">
    <div class="row">
        <div class="col">
            <div class="row">
                <h1 class="mx-auto">@Model.VenueName</h1>
            </div>
            <div class="row">
                <span class="mx-auto">@Model.AddLineOne, @Model.AddLineTwo</span>
            </div>
            <div class="row">
                <span class="mx-auto">@Model.City</span>
            </div>
            <div class="row">
                <span class="mx-auto">@Model.County</span>
            </div>
            <div class="row">
                <span class="mx-auto">@Model.VenuePostcode</span>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <h2>Bookings</h2>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        ID
                    </th>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Time
                    </th>
                    <th scope="col">
                        Size
                    </th>
                    <th scope="col">
                        Attended?
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (DashboardStructs.BookingDashboardDisplay booking in bookings)
                    {
                        <tr>
                            <th scope="row">@booking.BookingId</th>
                            <td>
                                @booking.BookingCustomerName
                            </td>
                            <td>
                                @booking.BookingTime
                            </td>
                            <td>
                                @booking.BookingSize
                            </td>
                            <td>
                                @{
                                    if (booking.BookingAttended)
                                    {
                                        <input type="checkbox" checked />
                                    }
                                    else
                                    {
                                        <input type="checkbox" />
                                    }
                                }

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <br />
    <div class="row">
        <h2>Staff</h2>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        ID
                    </th>
                    <th scope="col">
                        Name
                    </th>
                    <th scope="col">
                        Contact number
                    </th>
                    <th scope="col">
                        Position
                    </th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    foreach (DashboardStructs.StaffDashboardDisplay staffMember in staff)
                    {
                        <tr>
                            <th scope="row">
                                @staffMember.StaffId
                            </th>
                            <td>
                                @staffMember.StaffName
                            </td>
                            <td>
                                @staffMember.StaffContactNum
                            </td>
                            <td>
                                @staffMember.StaffPosition
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

