@model Webadmin.Models.Venues

@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<div class="shareLine">
    <h4>@Html.DisplayFor(model => model.VenueName)</h4>
    <a asp-action="Index" class="btn bntSmall" >Back</a>
</div>
<hr />
<div class="row">
    <div class="col"><b>Venue Name</b></div>
    <div class="col">@Html.DisplayFor(model => model.VenueName)</div>
    <div class="col"><b>Postcode</b></div>
    <div class="col">@Html.DisplayFor(model => model.VenuePostcode)</div>

    <div class="w-100"></div>

    <div class="col"><b>Address Line One</b></div>
    <div class="col">@Html.DisplayFor(model => model.AddLineOne)</div>
    <div class="col"><b>City</b></div>
    <div class="col">@Html.DisplayFor(model => model.City)</div>

    <div class="w-100"></div>

    <div class="col"><b>Address Line Two</b></div>
    <div class="col">@Html.DisplayFor(model => model.AddLineTwo)</div>
    <div class="col"><b>County</b></div>
    <div class="col">@Html.DisplayFor(model => model.County)</div>
</div>
<br />
<br />
<div class="row">
    <a asp-controller="Staffs" asp-action="Index" asp-route-venueId="@Model.VenueId"><div class="btn bntLarge">Staff</div></a>
    <a asp-controller="VenueTables" asp-action="Index" asp-route-venueId="@Model.VenueId"><div class="btn bntLarge">Venue Tables</div></a>
    <a asp-controller="Staffs" asp-action="Index" asp-route-venueId="@Model.VenueId"><div class="btn bntLarge">Staff Attendance</div></a>
</div>
<br />
<br />
<div style="float: right">
    <a asp-action="Edit" asp-route-id="@Model.VenueId" class="btn bntSmall">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.VenueId" class="btn btn-danger">Delete</a>
</div>
