@model Webadmin.Models.Venues

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Venues</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Venue Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueName)
        </dd>
        <dt class = "col-sm-2">
            Postcode
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenuePostcode)
        </dd>
        <dt class = "col-sm-2">
            Address Line One
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddLineOne)
        </dd>
        <dt class = "col-sm-2">
            Address Line Two
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddLineTwo)
        </dd>
        <dt class = "col-sm-2">
            City
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            County
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.County)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VenueId">Edit</a> |
    <a asp-action="Index">Back to List</a>

    <a asp-controller="Staffs" asp-action="Index" asp-route-venueId="@Model.VenueId">Staff</a>
</div>
