@model Webadmin.Models.Venues

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="shareLine">
    <h4>@Html.DisplayFor(model => model.VenueName)</h4>
    <a asp-action="Index" class="btn bntSmall">Back</a>
</div>
<hr />
<div class="row">
    <div class="col"><b>Venue Name</b></div>
    <div class="col">@Html.DisplayFor(model => model.VenueName)</div>
    <div class="col"><b>Postcode</b></div>
    <div class="col">@Html.DisplayFor(model => model.VenuePostcode)</div>

    <div class="w-100"></div>

    <div class="col"><b>Address Line One</b></div>
    <div class="col">@Html.DisplayFor(model => model.AddLineOne)</div>
    <div class="col"><b>City</b></div>
    <div class="col">@Html.DisplayFor(model => model.City)</div>

    <div class="w-100"></div>

    <div class="col"><b>Address Line Two</b></div>
    <div class="col">@Html.DisplayFor(model => model.AddLineTwo)</div>
    <div class="col"><b>County</b></div>
    <div class="col">@Html.DisplayFor(model => model.County)</div>
</div>
<br />
<br />
<div class="row">
    <a asp-controller="Staffs" asp-action="Index" asp-route-venueId="@Model.VenueId"><div class="btn bntLarge">Staff</div></a>
    <a asp-controller="VenueTables" asp-action="Index" asp-route-venueId="@Model.VenueId"><div class="btn bntLarge">Venue Tables</div></a>
    <a asp-controller="Staffs" asp-action="Index" asp-route-venueId="@Model.VenueId"><div class="btn bntLarge">Staff Attendance</div></a>
</div>
<br />
<br />
<div style="float: right">
    <a asp-action="Edit" asp-route-id="@Model.VenueId" class="btn bntSmall">Edit</a>
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteTitle">Delete Venue</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <b>Are you sure you want to delete this venue?</b>
                <br />
                This will remove all data related to the venue
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bntSmall" data-dismiss="modal">Close</button>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="VenueId" />
                    <input type="submit" value="Delete" class="btn btn-danger"/>
                </form>
            </div>
        </div>
    </div>
</div>