@model Webadmin.Models.Staff

@{
    ViewData["Title"] = "Delete";
    int VenueId = ViewBag.venueId;

    //****Vneue id dose not pass back to index
}
<div class="borderBody">
    <div class="titleMargin">
        <h1>Delete Staff</h1>
        <div class="shareLine">
            <h4>Are you sure you want to delete this?</h4>
            <a asp-action="Index" asp-route-venueId="@VenueId" class="btn bntMedium">Back</a>
        </div>
        <hr />
    </div>
    <div class="row" style="margin-left:100px">
        <form asp-action="Delete">
            <div class="form-group">
                <label class="control-label">
                    <b>Staff Name:</b>
                    <span style="margin: 50px"></span>
                    @Html.DisplayFor(model => model.StaffName)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <b>Contact Number:</b>
                    <span style="margin: 30px"></span>
                    @Html.DisplayFor(model => model.StaffContactNum)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <b>Position:</b>
                    <span style="margin: 62px"></span>
                    @Html.DisplayFor(model => model.StaffPosition)
                </label>
            </div>
            <div class="form-group">
                <input value="@VenueId" name="venueId" type="hidden" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="StaffId" />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>
