@model IEnumerable<Webadmin.Models.Staff>

@{
    ViewData["Title"] = "Index";
    int VenueId = ViewBag.venueId;
}

<div class="shareLine">
    <h1>Index</h1>
    <div>
        <a asp-action="Create" asp-route-id="@VenueId" class="btn bntMedium">Create New</a>
        <a asp-controller="Venues" asp-action="Details" asp-route-id="@VenueId" class="btn bntMedium">Back </a>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Staff Name
            </th>
            <th>
                Contact Number
            </th>
            <th>
                Position
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffContactNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffPosition)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-staffId="@item.StaffId" asp-route-venueId="@VenueId" class="btn bntMedium">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.StaffId" asp-route-venueId="@VenueId" class="btn bntMedium">Delete</a>
                    @if (WebadminHelper.StaffIsClockedIn(item))
                    {
                        <a asp-action="ClockIn" asp-route-staffId="@item.StaffId" asp-route-venueId="@VenueId" class="btn bntMedium" style="background-color: red;">Clock Out</a>
                    }
                    else
                    {
                        <a asp-action="ClockIn" asp-route-staffId="@item.StaffId" asp-route-venueId="@VenueId" class="btn bntMedium" style="background-color: green;">Clock In</a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

