@model Webadmin.Models.Flags

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Flags</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagLocationPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagLocationPage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagPersistent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagPersistent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagUrgency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagUrgency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagVenueId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagVenueId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagResolved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagResolved)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
