@model Webadmin.Models.Flags

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flags</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagLocationPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagLocationPage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagPersistent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagPersistent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagUrgency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagUrgency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagVenueID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagVenueID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagResolved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagResolved)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
