@model Webadmin.Models.VenueTables

@{
    ViewData["Title"] = "Delete";
    int venueId = ViewBag.venueId;
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VenueTables</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueTableNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueTableNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueTableCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueTableCapacity)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VenueTableId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <div class=" form-group">
            <input value="@venueId" name="venueId" type="hidden">
        </div>
        <a asp-action="Index" asp-route-venueId="@venueId">Back to List</a>
    </form>
</div>
