@model Webadmin.Models.VenueTables

@{
    ViewData["Title"] = "Details";
    int venueId = ViewBag.venueId;
}

<h1>Details</h1>

<div>
    <h4>VenueTables</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueTableNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueTableNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueTableCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueTableCapacity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VenueTableId">Edit</a> |
    <a asp-action="Index" asp-route-venueId="@venueId">Back to List</a>
</div>
