@model IEnumerable<Webadmin.Models.VenueTables>

@{
    ViewData["Title"] = "Index";
}

<div class="shareLine">
    <h1>Index</h1>
    <a asp-action="Create" class="btn bntMedium" style="float: right">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Table Number
            </th>
            <th>
                Capacity
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VenueTableNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueTableCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue.AddLineOne)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VenueTableId" class="btn bntMedium">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.VenueTableId" class="btn bntMedium">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
