@model IEnumerable<Webadmin.Models.VenueTables>

@{
    ViewData["Title"] = "Index";
    int venueId = ViewBag.venueId;
}
<div class="shareLine">
    <h1>Index</h1>
    <div>
        <a asp-action="Create" asp-route-venueId="@venueId" class="btn bntMedium">Create New</a>
        <a asp-controller="Venues" asp-action="Details" asp-route-id="@venueId" class="btn bntMedium">Back </a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Table Number
            </th>
            <th>
                Table Capacity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VenueTableNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueTableCapacity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-venueTableId="@item.VenueTableId" asp-route-venueId="@venueId" class="btn bntMedium">Edit</a>
                <a asp-action="Delete" asp-route-venueTableId="@item.VenueTableId" asp-route-venueId="@venueId" class="btn bntMedium">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
