@model IEnumerable<Webadmin.Models.VenueTables>

@{
    ViewData["Title"] = "Index";
    int venueId = ViewBag.venueId;
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-venueId="@venueId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VenueTableNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenueTableCapacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VenueTableNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueTableCapacity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-venueTableId="@item.VenueTableId" asp-route-venueId="@venueId">Edit</a> |
                <a asp-action="Details" asp-route-venueTableId="@item.VenueTableId" asp-route-venueId="@venueId">Details</a> |
                <a asp-action="Delete" asp-route-venueTableId="@item.VenueTableId" asp-route-venueId="@venueId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
